.post {
    border: 1px solid grey;
    padding: 3px;
    margin: 5px;
}
.firstline {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.postname {
    padding: 0px;
}
.posttext {
    padding: 5px;
}
.posttime {
    padding: 3px;
    text-align: end;
}
.editdelete {
    padding: 0px;
    text-align: end;
}
.container-fluid {
    display: flex;
    justify-content: space-between;
}